{% extends 'gestion/base.html' %}
{% block content %}
<div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-semibold">Animateurs</h1>
    <a href="{% url 'create_animateur' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Créer</a>
</div>

<table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
    <thead class="bg-gray-800 text-white">
        <tr>
            <th class="py-2 px-4">Nom</th>
            <th class="py-2 px-4">Prénom</th>
            <th class="py-2 px-4">Contact</th>
            <th class="py-2 px-4">Date de création</th>
            <th class="py-2 px-4">Photo</th>
            <th class="py-2 px-4">Classes</th>
        </tr>
    </thead>
    <tbody class="bg-gray-200">
        {% for animateur in animateurs_list %}
        <tr class="bg-white border-b">
            <td class="py-2 px-4">{{ animateur.nom }}</td>
            <td class="py-2 px-4">{{ animateur.prenom }}</td>
            <td class="py-2 px-4">{{ animateur.contact }}</td>
            <td class="py-2 px-4">{{ animateur.date_creation }}</td>
            <td class="py-2 px-4">
                {% if animateur.photo %}
                <img src="{{ animateur.photo.url }}" alt="{{ animateur.nom }}" class="w-12 h-12 rounded-full">
                {% else %}
                <span>N/A</span>
                {% endif %}
            </td>
            <td class="py-2 px-4">
                {{ animateur.classes.all|join:", " }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
