{% extends 'gestion/base.html' %}
{% block content %}
<div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-semibold">Cours</h1>
    <a href="{% url 'create_cours' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Créer</a>
</div>

<table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
    <thead class="bg-gray-800 text-white">
        <tr>
            <th class="py-2 px-4">Date</th>
            <th class="py-2 px-4">Heure</th>
            <th class="py-2 px-4">Classe</th>
            
        </tr>
    </thead>
    <tbody class="bg-gray-200">
        {% for cours in cours %}
        <tr class="bg-white border-b">
            <td class="py-2 px-4">{{ cours.date }}</td>
            <td class="py-2 px-4">{{ cours.heure }}</td>
            <td class="py-2 px-4">{{ cours.classe }}</td>
           
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
